{#
/**
 * @file
 * Template file for range slider.
 *
 * @TODO: complete doxygen doc.
 */
#}

<div class="range-slider-fromto" id="range-slider-fromto-{{ form_key }}">
  <span class="range-slider-from">
    {{ range_from }}
  </span>
   -
  <span class="range-slider-to">
    {{ range_to }}
  </span>
</div>
<div class="date-range-slider-gap">
  {{ gap }}
</div>
<div id="slider-amount-{{ form_key }}"></div>
<div id="date-range-slider-canvas-{{ form_key }}" class="date-range-slider-canvas-wrapper"></div>
<div id="date-range-slider-{{ form_key }}"></div>
